@use "../utils/variables" as *;

.hero {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 24px;
  color: $primary-color;
  text-align: center;

  @media (min-width: $desktop) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: end;
    margin-top: 20px;
    text-align: start;
    padding: 0 60px
  }

  &__title {
    margin: 16px 0;
    color: $font-color;
    font-family: $font-Bellefair;
    font-size: 5rem;
    font-weight: lighter;
    text-transform: uppercase;

    @media (min-width: $tablet) {
      font-size: $heading-1-size;
    }

    &-sub {
      margin-top: 30px;
      font-family: $font-BarlowCondensed;
      font-size: 1rem;
      letter-spacing: $link-space;
      text-transform: uppercase;

      @media (min-width: $tablet) {
        margin-top: 120px;
        font-size: 20px;
      }

      @media (min-width: $desktop) {
        font-size: $heading-5-size;
        letter-spacing: $heading-5-space;
      }
    }
  }

  &__intro {
    max-width: 52ch;
    margin: 0 auto;
    line-height: 1.7;

    @media (min-width: $desktop) {
      margin: 0;
      font-size: 18px;
    }
  }

  &__link {
    display: grid;
    align-items: center;
    width: 150px;
    margin: 70px auto 0 auto;
    transition: $transition;
    border-radius: 50%;
    background-color: $font-color;
    color: #0b0d17;
    font-family: $font-Bellefair;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    aspect-ratio: 1/1;

    &:hover,
    &:focus,
    &:active {
      box-shadow: 0px 0px 0px 50px rgba(255, 255, 255, 0.15);
    }

    @media (min-width: $tablet) {
      width: 242px;
      margin: 140px auto 70px auto;
      font-size: $heading-4-size;

      &:hover,
      &:focus,
      &:active {
        box-shadow: 0px 0px 0px 80px rgba(255, 255, 255, 0.15);
      }
    }

    @media (min-width: $desktop) {
      margin: 140px 0 0 auto;
    }
  }
}
