@use "../utils/variables" as *;

.technology {
  background-image: url(/src/assets/technology/background-technology-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-width: $tablet) {
    background-image: url(/src/assets/technology/background-technology-tablet.jpg);
  }

  @media (min-width: $desktop) {
    background-image: url(/src/assets/technology/background-technology-desktop.jpg);
  }

  &__content {
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;

    @media (min-width: $desktop) {
      text-align: start;
    }
  }

  &__title {
    display: block;
    position: relative;
    z-index: -1 !important;
    max-width: 1100px;
    margin: 0 auto;
    margin-bottom: 35px;
    font-family: $font-BarlowCondensed;
    font-size: 16px;
    font-weight: lighter;
    letter-spacing: $link-space;

    @media (min-width: $tablet) {
      margin: 40px 0 15px 40px;
      font-size: 20px;
      text-align: start;
    }

    @media (min-width: $desktop) {
      margin: 0;
      margin-left: 50px;
      font-size: $sub-heading-1-size;
    }

    @media (min-width: 1200px) {
      position: absolute;
      left: 50%;
      margin-left: 0;
      transform: translateX(calc(50% - 675px));
    }

    @media (min-width: 1350px) {
      transform: translate(calc(50% - 725px),25px);
    }

    &-nr {
      margin-right: 20px;
      opacity: 0.25;
    }
  }

  &__swiper {
    position: relative;

    .swiper-pagination {
      position: absolute;
      z-index: 2 !important;
      top: 50%;
      left: -50%;
      transform: translate(50%, calc(50% - 185px));
      counter-reset: number;

      @media (min-width: $tablet) {
        transform: translate(50%, calc(50% - 235px));
      }

      @media (min-width: $desktop) {
        display: flex;
        top: 110px;
        left: 35px;
        flex-direction: column;
        transform: none;
        gap: 20px;
      }

      @media (min-width: 1200px) {
        left: -50%;
        align-items: center;
        transform: translateX(calc(50% - 515px));
      }

      @media (min-width: 1350px) {
        top: 170px;
        transform: translateX(calc(50% - 590px));
      }

      @media (min-width: 1400px) {
        transform: translateX(calc(50% - 575px));
      }

      @media (min-width: 1750px) {
        transform: translateX(calc(50% - 700px));
      }

      &-bullet {
        position: relative;
        width: 40px;
        height: 40px;
        margin-right: 10px !important;
        transition: $transition;
        border: 2px solid rgba(255, 255, 255, 0.25);
        opacity: 1;
        background-color: transparent;
        color: $font-color;

        &::after {
          content: counter(number);
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-family: $font-Bellefair;
          font-size: 16px;
          counter-increment: number;
        }

        @media (min-width: $tablet) {
          width: 60px;
          height: 60px;
          margin-right: 20px !important;

          &::after {
            font-size: 24px;
          }
        }

        @media (min-width: $desktop) {
          width: 80px;
          height: 80px;
          margin-right: 20px !important;

          &::after {
            font-size: $heading-4-size;
          }
        }

        &:hover,
        &:focus {
          border-color: rgba(255, 255, 255, 0.75);
        }

        &-active {
          border-color: rgb(255, 255, 255);
          background-color: rgb(255, 255, 255);
          color: $background-color;
        }
      }
    }
  }

  &__article {
    display: grid;
    max-width: 1200px;
    margin: 0 auto;

    @media (min-width: $tablet) {
      grid-template-columns: repeat(2, 1fr);
      padding: 40px;
      padding-bottom: 0;
      place-items: center;
      padding-bottom: 80px;
    }

    @media (min-width: $desktop) {
      grid-template-columns: repeat(3, 1fr);
      margin: 40px 0 0 auto;
      margin-top: 20px;
      padding: 50px 0 50px 150px;
      place-items: start;
    }

    @media (min-width: 1350px) {
      padding: 0;
      padding-top: 40px;
    }

    @media (min-width: 1750px) {
      margin: 0 auto;
    }
  }

  &__img {
    order: -1;
    width: 100vw;
    max-width: 768px;
    margin: 0 auto;

    &-portrait {
      display: none;
    }

    @media (min-width: $tablet) {
      grid-column: span 2;
      margin: 0;
    }

    @media (min-width: $desktop) {
      grid-column: span 1;
      order: 0;
      max-width: 385px;
      margin-top: -130px;

      &-portrait {
        display: block;
      }

      &-landscape {
        display: none;
      }
    }

    @media (min-width: 1350px) {
      max-width: 515px;
      margin-top: -192px;
    }
  }

  &__name {
    margin-top: 100px;
    margin-bottom: 17px;
    font-family: $font-Bellefair;
    font-size: 24px;
    font-weight: lighter;

    &-prev {
      display: block;
      margin-bottom: 10px;
      color: #d0d6f9;
      font-size: $sub-heading-2-size;

      @media (min-width: 1350px) {
        padding-top: 70px;
      }
    }

    @media (min-width: $tablet) {
      grid-column: span 2;
      margin-top: 150px;
      font-size: 40px;
    }

    @media (min-width: $desktop) {
      margin-top: 50px;
      margin-bottom: -10px;
      font-size: $heading-3-size;
    }
  }

  &__description {
    max-width: 40ch;
    margin: 0 auto;
    padding-bottom: 45px;
    color: $primary-color;
    font-size: 15px;
    line-height: 1.6;
    text-transform: none;

    @media (min-width: $tablet) {
      grid-column: span 2;
      max-width: 55ch;
      font-size: 17px;
    }

    @media (min-width: $desktop) {
      margin: 0;
      margin-top: 40px;
      font-size: 18px;
    }
  }
}
